@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "common/_mixins";
@import "common/_variables";
@import "common/_keyframes";

body {
    @include body-default;

}


.white-text {
    color: hsl(0, 0%, 100%);
}

.grey-text {
    color: hsl(186, 14%, 43%);
}

.logo {
    @include logo;
}

h2 {
    @include h2;
}

#mobile-wrapper {
    margin: 0 auto;
    display: block;
    width: 85%;
}

input[type=number] {
    font-family: "Space Mono", monospace;
    color: $dark-text;
    font-size: 18px;
    text-align: right;
    cursor: pointer;
}

input::placeholder {
    padding-right: 3em;
    transform: scale(150%);
    color: hsl(186, 14%, 43%);
}

#custom-tip {
    background: transparent;
    outline: none;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border: none;
    text-align: center;
}

.card {
    @include card;

    .bill {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        padding: 2em 0;
        font-weight: 700;

        #bill-input {
            @include input;
            background: url('../images/icon-dollar.svg') no-repeat scroll 1em 1em;
            background-size: 1em;
            background-color: #dce3fd;

            #bill-input:focus {
                outline-color: #4169e1;
            }

        }

        @media screen and (min-width: 1440px) {
            padding: 1em 0;
        }
    }

    .number-of-people {
        font-weight: 700;
        color: $dark-text;
        padding: 2em 0;

        #error {
            @include error;
        }

        #number-of-people-input {
            @include input;
            background: url('../images/icon-person.svg') no-repeat scroll 1em 1.2em;
            background-size: 1em;
            background-color: #dce3fd;

            #number-of-people-input:focus {
                outline-color: #204ac8;
            }
        }

        @media screen and (min-width: 1440px) {
            padding: 1em 0;
        }
    }


    .select-tip {
        @include select-tip;

        .select-tip .tip-grid {
            @include tip-grid;

        }

        .grid-hover {
            @include transition;

            &:hover {
                background-color: #dce3fd;
                color: $dark-text;
                @include transition;
            }
        }

        .tip-grid {
            width: 100%;
            height: 100%;
            border: 0px;

            @media screen and (min-width: 400px) and (max-width: 1000px) {
                @include mobile-tip-grid;
            }

            @media screen and (min-width: 1000px) {
                @include tip-grid;
            }

            @media screen and (min-width: 1440px) {
                grid-template-rows: repeat(3, 5em);
            }

            #custom-tip::placeholder {
                text-align: center;
                margin: 0 auto;
                display: block;
                font-weight: 700;
            }

        }

        @media screen and (min-width: 1440px) {
            padding: 1em 0;
        }
    }

    .tip-calculator {
        margin: 2em 0;
        padding: 2em 1.5em;
        background-color: $tip-calculator-background;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        .tip-amount {
            display: flex;
            justify-content: space-between;
        }

        #tip-amount {
            display: inline-block;
            font-size: 28px;
            color: #4169e1;
            font-weight: 700;
        }

        .total {
            display: flex;
            justify-content: space-between;
        }

        #total {
            display: inline-block;
            font-size: 28px;
            color: #4169e1;
            font-weight: 700;
        }

        #reset {
            margin-top: 1em;
            padding: 1em 0;
            border: 0px;
            border-radius: 5px;
            background-color: #204ac8;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 18px;
            cursor: pointer;
            @include transition;

            &:hover {
                background-color: #dce3fd;
                color: $dark-text;
                @include transition;
            }

        }

        @media screen and (min-width: 1024px) {
            padding: 2em 4em;
        }

    }

}


.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6 {
    @include grid-item;
    margin: 1em 0;
}

.grid1,
.grid2,
.grid3,
.grid4,
.grid5 {
    background-color: #204ac8;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.grid6,
#custom {
    background-color: #dce3fd;
    text-align: center;
    color: $dark-text;
}

footer {
    margin: 0 auto;
    text-align: center;
    color: hsl(0, 0%, 100%);
}


@media screen and (min-width: 400px) {
    input::placeholder {
        padding-right: 0rem;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        transform: scale(0.9);
    }
}

@media screen and (min-width: 1440px) {

    #mobile-wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .card {
        transform: scale(0.9);

        #mobile-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            grid-template-rows: repeat(3, 0.5fr);
            grid-column-gap: 5rem;
            grid-row-gap: 0px;
            padding-bottom: 0.1em;
        }


        .bill,
        #number-of-people-input {
            width: 100%;
        }

        .grid1,
        .grid2,
        .grid3,
        .grid4,
        .grid5,
        .grid6 {
            padding: 0em 1em;
            padding-top: 0.5em;
            font-size: 30px;
            margin: 0;
            cursor: pointer;
        }

        .tip-calculator {
            grid-area: 1 / 2 / 4 / 3;
            padding: 4em 2em;
            width: 36rem;
            border-radius: 20px;
            margin: 0 auto;
            gap: 5em;
        }
    }

    .select-tip .tip-grid {
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(3, 15rem);
        grid-template-rows: repeat(2, 5rem);
        grid-gap: 1em;
    }

    footer p {
        padding: 0;
        margin: 0;
    }

}

@media screen and (min-width: 1510px) {
    .tip-calculator {
        width: 36rem;
    }
}

@media screen and (min-width: 1700px) {
    .tip-calculator {
        width: 43rem;
    }
}

@media screen and (min-width: 1920px) {

    .logo h1 {
        position: relative;
        top: 0.5em;
        margin: 0;
    }

    .white-text {
        font-size: 22px;
    }

    .card {
        margin-top: 0;
        padding: 1em 0;
        width: 80%;

        .tip-calculator {
            width: 39rem;
        }
    }

}