@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "common/_mixins";
@import "common/_variables";
body {
   @include body-default;
}

.white-text {
    color: hsl(0, 0%, 100%);
}

.grey-text {
    color: hsl(186, 14%, 43%);
}

.logo {
   @include logo;
}

#mobile-wrapper {
    margin: 0 auto;
    display: block;
    width: 85%;
}

input[type=number] {
    font-family: "Space Mono", monospace;
    color: $dark-text;
    font-size: 18px;
    text-align: right;
    cursor: pointer;
}

input::placeholder {
    padding-right: 3    em;
    transform: scale(150%);
    color: hsl(186, 14%, 43%);
}

.placeholder {
    position: absolute;
    margin-top: -2.4em;
    margin-left: 1em;
}

#custom-tip {
    background: transparent;
    outline: none;
    max-width: 100%;
    margin: 0 auto; 
    height: auto;
    border: none;
    text-align: center;
}

.card {
    @include card;

    .bill {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    padding: 2em 0;
    font-weight: 700;

    #bill-input {
        @include input;

        #bill-input:focus {
            outline-color: #4169e1;
        }

    }
}

    .number-of-people {
        font-weight: 700;
        color: $dark-text;

        #error {
            @include error;
        }

        #number-of-people-input {
            @include input;
            #number-of-people-input:focus {
                outline-color:#204ac8;
            }
        }
        

    }
    

    .select-tip {
        @include select-tip;

        .select-tip .tip-grid {
            @include tip-grid;
            
        }

        .grid-hover {
            @include transition;
            
            &:hover {
            background-color: #dce3fd;
            color: $dark-text;
            @include transition;
            }
        }

        .tip-grid {
            width: 100%;
            height: 100%;
            border: 0px;
            cursor: pointer;


            
            #custom-tip::placeholder {
                text-align: center;
                margin: 0 auto;
                display: block;
                font-weight: 700;
                font-size: 12px;
                padding: 0 2rem;
            }
            

        }
        
    }

    .tip-calculator {
        margin: 0;
        padding: 2em 2.5em;
        background-color: $tip-calculator-background;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        .tip-amount {
            display: flex;
            justify-content: space-between;
        }
        
        #tip-amount {
            display: inline-block;
            font-size: 28px;
            color: #4169e1;
            font-weight: 700;
        }

        .total {
            display: flex;
            justify-content: space-between;
        }
        
        #total {
            display: inline-block;
            font-size: 28px;
            color: #4169e1;
            font-weight: 700;
        }
        
        #reset {
            margin-top: 1em;
            padding: 1em 0;
            width: 98%;
            border: 0px;
            border-radius: 5px;
            background-color:#204ac8;
            color: white;
            /*background-color: hsl(172, 67%, 45%);*/
            font-weight: 700;
            text-transform: uppercase;
            font-size: 18px;
            cursor: pointer;
            @include transition;

            &:hover {
                background-color: #dce3fd;
                color: $dark-text;
                @include transition;
            }

        }

    }

}


.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6 {
    @include grid-item;
    margin: 2em 0;
}

.grid1,
.grid2,
.grid3,
.grid4,
.grid5 {
    background-color:#204ac8;
    text-align: center;
    color: hsl(0, 0%, 100%); 
}

.grid6,
#custom {
    background-color: #dce3fd;
    text-align: center;
    color: $dark-text;
}

footer {
    margin: 0 auto;
    text-align: center;
    color: hsl(0, 0%, 100%);
}


@media screen and (min-width: 425px) {
    input::placeholder {
      padding-right: 4rem;
    }
}

@media screen and (min-width: 500px) {
    input::placeholder {
      padding-right: 5rem;
    }
}

@media screen and (min-width: 600px) {
    input::placeholder {
      padding-right: 7rem;
    }
}

@media screen and (min-width: 828px) {

    input::placeholder {
        padding-right: 9rem;
      }

    #custom-tip::placeholder {
        padding-left: 5em;
        padding-bottom: 0.5em;
        font-size: 18px;
        padding-left: 4.5em;
        padding-bottom: 0;
    }

}

@media screen and (min-width: 1080px) {
    input::placeholder {
        padding-right: 11rem;
      }

    #custom-tip::placeholder {
        padding-left: 5em;
        padding-bottom: 0.5em;
    }
}

@media screen and (min-width: 1300px) {
    input::placeholder {
      padding-right: 13rem;
    }
}

@media screen and (min-width: 1440px) {

    input::placeholder {
        padding-right: 8rem;
      }

    .card {
        transform: scale(0.9);
    }

    #mobile-wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .card #mobile-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(3, 0.5fr);
        grid-column-gap: 5rem;
        grid-row-gap: 0px;
        padding-bottom: 0.1em;
    }

    .bill, #number-of-people-input {
        width: 100%;
    }


    .select-tip .tip-grid {
        padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(3, 15rem);
        grid-template-rows: repeat(2, 5rem);
        grid-gap: 1em;
    }

    .grid1,
    .grid2,
    .grid3,
    .grid4,
    .grid5,
    .grid6 {
        padding: 0em 1em;
        padding-top: 0.5em;
        font-size: 30px;
        margin: 0;
    }



    .tip-calculator {
        grid-area: 1 / 2 / 4 / 3;
        margin-top: 2em;
        margin-left: 2em;
        padding: 4em 2em;
        width: 28.5rem;
        border-radius: 20px;
    }

    footer p {
        padding: 0;
        margin: 0;
    }

}

@media screen and (min-width: 1510px) {
    .tip-calculator {
        width: 32.5rem;
    }
}

@media screen and (min-width: 1700px) {
    .tip-calculator {
        width: 43rem;
    }
}

@media screen and (min-width: 1920px) {

    .card {
        margin-top: 0;
        width: 80%;
    }

    .tip-calculator {
        width: 34rem;
    }

    .white-text {
        font-size: 22px;
    }    

}