//Defaultowe wartości body


@mixin body-default {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #4169e1, #204ac8, #14369b, #1e67a3);
    font-family: "Space Mono", monospace;
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

//Style logo
@mixin logo {
    display: block;
    margin: $center;
    width: 100%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    line-height: 50px;
    animation: breathing 5s ease-out infinite normal;
}

//Style dla nagłówków
@mixin h2 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 1.5em;
}

//Style głownego komponentu - card
@mixin card {
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    color: $dark-text;
    margin: $center;
    
}

//Style dla inputów
@mixin input {
    margin-top: 1em;
    padding: 1em 0;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    background-color: #dce3fd;
}

//Style dla errorów
@mixin error {
    color: red;
    padding-left: 3em;
    display: none;
}

//Style dla kontenera select-tip
@mixin select-tip {
    margin: $center;
    display: block;
    width: 100%;
    padding: 2em 0;
}

//Style dla kontenera tip-grid
@mixin tip-grid {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
}

//Style dla kontenera tip-grid w wersji mobilnej
@mixin mobile-tip-grid {
    padding-top: 1em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 0;


    .grid-active {
        margin: 0;
    }

}

//Style dla itemów w gridzie
@mixin grid-item {
    padding: 0.5em 1em;
    padding-top: 0.5em;
    border-radius: 5px;
    font-weight: 700;
    font-size: 25px;
    font-family: "Space Mono", monospace;
}

//Animacja przejścia
@mixin transition {
    transition: ease-in-out 0.3s;
}
