//Wycentrowanie kontenera
$center: 0 auto;

//Kolor tła
$body-background-color: #4169e1;

//Kolor tekstu - ciemny
$dark-text: hsl(183, 100%, 15%);

//Kolor tekstu - ciemny niebieski
$dark-blue: #204ac8;

//Kolor tła kalkualtora
$tip-calculator-background: #14369b;